.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--background-color);
}


.register-title {
    text-align: center;
    margin-bottom: 20px;
}

.return-btn {
    width: 100%;
    background-color: #e0e0e0;
    color: var(--text-color);
    font-weight: 500;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.return-btn:hover {
    background-color: #c2c2c2;
}